@import "../../scss/index";

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 20px 50px;
  z-index: 1;

  .NavLinksContainer {
    float: right;
    display: flex;

    .NavLinks {
      margin-left: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: $color5;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
